html{
    background-color: #f1f3f6;
}
body{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
header .titulo{
    height: 50px;
    width: auto;
    position:relative;
    text-align:start;
}
.ayuda{
    display: flex;
    align-content: flex-end;
    
}
form .campo:hover{
    background-color: #80accf;
    color: #e9e9ea;
}
.camp1{
    height: 30px;
}
.camp2{
    height: 30px;
}
input{
    border-radius: 10%;
    
}
fieldset{
    padding: 40px 20px;
}
.sesion{
    background-color: #1977f1;
    
}
fieldset{
    border-radius: 8px;
}
.olvido{
    text-decoration: none;
}