html{
    background-color: #f1f3f6;
}
body{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
header .titulo{
    height: 50px;
    width: auto;
    position:relative;
    text-align:start;
}
.ayuda{
    display: flex;
    align-content: flex-end;
    
}
form .campo:hover{
    background-color: #80accf;
    color: #e9e9ea;
}
.campo{
    border-radius: 5px;
}

fieldset{
    padding: 40px 20px;
}
.sesion{
    background-color: #1977f1;
    color: #fafcff;
    
}
fieldset{
    border-radius: 8px;
}
.olvido{
    text-decoration: none;
    color: #3c85dd;
}
.nueva{
    background-color: #41b729;
    color: #fafcff;

}